.aboutUs {
  margin: 10% 10% 0 10%;
  position: relative;
  min-height: fit-content;
}
.aboutImg2 {
  min-height: 25rem;
  min-width: 35rem;
  background-image: url("/public/images/about_img2.jpg");
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 1;
  display: block;
  border-radius: 1% 30% 1% 1%;
}
.emptydiv {
  z-index: 1;
  min-height: 10rem;
  min-width: 15rem;
  position: absolute;
  background-color: rgb(167, 243, 247);
  top: 15rem;
  border-radius: 2% 30% 2% 2%;
  transform: scale(1.15);
}
.aboutUs__content {
  width: 30rem;
  min-height: fit-content;
  position: absolute;
  right: 0;
  z-index: 1;
}
.aboutUs__content h2 {
  position: absolute;
  font-size: 3rem;
  top: 5rem;
  z-index: 1;
  padding: 0.5rem;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 0.4rem;
}
.aboutUs__content p {
  position: absolute;
  top: 20rem;
  color: lightgray;
  display: inline-block;
  width: 20rem;
  z-index: 0;
}
.about__us {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
}
.emptydiv2 {
  border: 2px solid black;
  height: 1px;
  margin-left: 1rem;
  min-width: 2rem;
  background-color: black;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 45%;
  }
}
